.filter-checkbox {
  display: contents;
}

.filter-checkbox__switcher {
  position: relative;
  width: 36px;
  height: 20px;
  appearance: none;
  padding: 2px;
  background: #ebebeb;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.filter-checkbox__switcher:checked {
  background: #2be080;
}

.filter-checkbox__switcher:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: white;
  transition: all 0.2s ease-in-out;
}

.filter-checkbox__switcher:checked:after {
  left: 18px;
}
